/Tugas13/Tugas13/nbproject/private/
/Tugas13/Tugas13/build/
/Tugas13/Iplant/nbproject/private/
/Tugas13/Iplant/build/
/Tugas14/Tugas14/nbproject/private/
/Tugas14/Tugas14/build/
/Tugas14/Tugas14/dist/
